<!-- Aba Agenda -->
<ul>
    <li><h5>Para o seu conforto, decidimos prorrogar a data do curso.</h5></li>
    <li><h3>Agenda</h3></li>
    <li>Data do curso:</li>
        <ul>
            <li>29 e 30 de Janeiro de 2015</li>
        </ul>
    <li>Cobriremos todos os passos para a configuração das ferramentas tanto no Windows como no Mac, mas também como acessar as seguintes funções num telemóvel usando Phonegap:</li>
    <ul>
        <li>Detecção de Plataforma</li>
        <li>Estado da bateria</li>
        <li>Câmera</li>
        <li>Contactos</li>
        <li>Informações do Aparelho</li>
        <li>Geolocalização</li>
        <li>Detectando o idioma</li>
        <li>Tocar áudio e vídeo</li>
        <li>Informação e status da rede(Online/Offline)</li>
        <li>Vibração</li>
        <li>Armazenamento Local (Local Storage)</li>
        <li>Empacotamento e instalação em dispositivos</li>
    </ul>

    <li><h3>DIA 1</h3></li>
    <li>29 de Janeiro</li>
    <ul>
        <li>8AM - 9AM Credenciamento e apresentação</li>
        <li>9AM - 1PM Introdução ao PhoneGap/Cordova</li>
        <ul>
            <li>Configurando o ambiente no Windows e no Mac</li>
            <li>Instalando e conhecendo dependências</li>
            <li>Configurando o PATH do sistema</li>
            <li>Instalando o Adobe Brackets</li>
            <li>Instalando Sublime Text</li>
            <li>Preparando o Xcode(somente para Mac) Command Line Tools</li>
            <li>Preparando o ambiente Android, Java Android SDK(ADT)</li>
            <li>Criar o seu primeiro projeto CORDOVA usando Cross Platform (CLI)</li>
        </ul>
        <li>1PM - 2PM Intervalo para almoço</li>
        <li>2PM - 2:30PM Conhecendo o Adobe Brackets, instalação de extensões interessantes:</li>
        <ul>
            <li>Emmet</li>
            <li>Tabs</li>
            <li>Beautify</li>
            <li>Editando CSS e Javascript no documento HTML</li>
            <li>Live Preview</li>
        </ul>
        <li>2:30PM - 3PM Entendendo o que é Single Page Apps</li>
        <li>3PM - 4PM APIs do HTML5 e Semântica</li>
        <li>4PM - 4:30PM APIs do CORDOVA</li>
        <li>4:30PM - 6:30 Criando e gerando build’s</li>
        <ul>
            <li>Detectando a plataforma</li>
            <li>Status da bateria</li>
            <li>Câmera</li>
            <li>Contatos</li>
            <li>Informações do aparelho</li>
            <li>Acelerômetro</li>  
        </ul>
    </ul>
    <li><h3>DIA 2</h3></li>
    <li>30 de Janeiro</li>
    <ul>
        <li>8AM - 8:30 - Conhecendo o Git+Polymer(O que é??)</li>
        <li>8:30AM - 9:30AM Conhecendo o CORDOVA server e o Chrome Dev Tools</li>
        <li>9:30AM - 10:30AM Introdução ao AngularJS</li>
        <li>10:30AM - 11:30AM Otimizando o seu trabalho com Bower, Sass e Gulp</li>
        <li>11:30AM - 1PM Depurando no Device</li>
        <li>1PM - 2PM Intervalo para almoço</li>
        <li>2PM - 6PM Criando e gerando builds com:</li>
        <ul>
            <li>Caixas de diálogo nativas</li>
            <li>Sistema de Arquivos</li>
            <li>Geolocalização</li>
            <li>Detectando o idioma</li>
            <li>In App Browser</li>
            <li>Tocando Áudio e Vídeo</li>
            <li>Informações e Status da Rede(Online/Offline)</li>
            <li>Vibração</li>
            <li>Armazenamento Local(Local Storage)</li>
        </ul>
        <li>6PM - 7PM Empacotando e enviando para a loja o seu aplicativo</li>
        <li>7PM - 7:30 Encerramento, entrega de certificados e foto da turma.</li>
         <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    </ul>
</ul>