<!DOCTYPE html>
<html>
    <head>
        <title>Ohundo - Seu local de treinamento e cultura angolana</title>
        <meta charset="UTF-8">
        <!-- Suporte a mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">
        
        <link rel="stylesheet" href="../css/reset.css"/>
        <!-- normalize por Nicolas Gallagher-->
<!--        <link rel="stylesheet" href="../css/node_modules/normalize.css"/>-->
        <link rel="stylesheet" type="text/css" href="../css/estilo.css">
        <link rel="icon" sizes="128x128" type="image/png" href="../img/ohundo_cloud.png"/>
    </head>
    
    <body>
       <header>
          <div class="banner">
              <p><a class="btn-lang" href="" ng-click="">Português</a></p>
               <h1>Ohundo
               <span class="glyphicon glyphicon-cloud"></span></h1>
                <summary>Angola na nuvem <span class="glyphicon glyphicon-cloud"></span></summary>
          </div>
        </header>
        <div class="jumbotron" align="center">
        <h2>Obrigado por se inscrever</h2>
        <a href="http://ohundo.tempsite.ws/#/inscricao">Clique aqui para continuar</a>
        </div>
    </body>
</html>