<ul>
   <li><h3>Home</h3></li>
    <li>Somos um grupo de desenvolvedores angolanos freelancers que se juntaram para levar Angola ao futuro. O objetivo é trazer tudo o que há de melhor na cultura angolana para a web, para o mundo, nós estamos aqui e, queremos que o mundo nos conheça.</li>
    <p></p>
<li>Desenvolvemos aplicativos corporativos ou pessoais, para as plataformas web, mobile e desktop.</li>
<li>Se entretenha com os nossos aplicativos, vem connosco nessa viagem e, conheça Angola através dos nossos aplicativos.</li>
    <li><h5>O curso tem o custo de {{38000 | currency}} AKz</h5><small>(Trinta e oito mil Kwanzas)</small></li>
           <p></p>
    <li><h4>Formas de Pagamento</h4></li>
  
    <!-- PayPal Logo --><img  src="https://www.paypal-brasil.com.br/logocenter/util/img/compra_segura_horizontal.png" border="0" alt="Imagens de solução" /><!-- PayPal Logo -->
    <span>&#124;</span>
   <img src="/img/ko.png" alt="Solução KwanzaOnline" height="50" width="100">
    <!--a href="http://desenvolvedor.moip.com.br/sandbox/" target="_blank"><img src="/img/moip_banner.jpg" border="0"></a-->
<!--    <li><img src="/img/moip_banner.jpg" border="0"></li>-->
    
<!--
    <form method='post' action='https://desenvolvedor.moip.com.br/sandbox/PagamentoSimples.do'>
<input type='hidden' name='id_carteira' value='randy.quindai@gmail.com'/>
<input type='hidden' name='valor' value='98000'/>
<input type='hidden' name='nome' value='Curso HTML5/CSS3/AngularJS+Phonegap'/>
<input type='image' name='submit' src='https://static.moip.com.br/imgs/buttons/bt_pagar_c03_e04.png' alt='Pagar' border='0' />
</form>
-->

    <!--li><b><em>...Bem vindo ao futuro,porém, para nós o futuro é hoje...</em></b></li-->
</ul>