<div align="center">
	<div class="row" align="center">
		<div class="col-sm-6 col-md-6">
			<div class="thumbnail">
				<a href="https://www.kwanzaonline.co.ao/">
					<img data-src="holder.js/300x300" src="/img/ko.png" alt="...">
				</a>
				<div class="caption"></div>
				<h6 class="text-center">Pague com KwanzaOnline</h6>
				<p></p>
				
<!--				<fieldset disabled>-->
                    <p class="text-center">
                        <a href="php/controllerKO.php" class="btn btn-primary" role="button">Comprar Agora</a>
                    </p>
<!--				</fieldset>-->
			</div>
		</div>

		<div class="col-sm-6 col-md-6">
			<div class="thumbnail">
				<a href="https://www.paypal-brasil.com.br/comprasegura/">
					<img  src="https://www.paypal-brasil.com.br/logocenter/util/img/botao-checkout_vertical_paguecomseguranca_as.png" border="0" alt="Imagens de solução" />
				</a>
				<div class="caption"></div>
				<h6 class="text-center">Pague com PayPal</h6>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="2CCWPFKVTK5DN">
						<input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
				        <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
					</form>
			</div>
		</div>
		
		<div class="col-sm-12 col-md-12">
            <div class="alert alert-info" role="alert">
                Nós da Ohundo valorizamos o produto angolano, caso não perturbe o seu conforto, sugerimos KwanzaOnline.
            </div>
		    <div class="alert alert-info">
                <h4>Para pagar o curso de forma presencial, por favor contacte-nos pelos seguintes terminais:</h4>
		        <h6>Movicel +244 917304038</h6>
		        <h6>Unitel +244 933734890</h6>
		    </div>
		</div>
	</div>
	<div class="row">
	    
<!--
		<div class="alert alert-info" role="alert">
  			Nós da Ohundo valorizamos o produto angolano, caso não perturbe o seu conforto, sugerimos KwanzaOnline.
		</div>
-->
	</div>
</div>