<ul>
    <li><h3>Instrutores</h3></li>
       </ul>
    <div class="vcard-qtcontent">
		<a href="https://www.linkedin.com/pub/randy-quindai/51/38b/1a9"><img src="img/randy.jpg"/></a>
		<blockquote class="vcardblock">
		  <p>Programador Java, com experiência em J2SE e J2EE, graduando em Engenharia da Computação na UFAL (Universidade             Federal de Alagoas, Brasil).</p>
		  <footer>Randy Quindai</footer>
		</blockquote>
	</div>

	<div class="vcard-qtcontent">
		<a href="http://dizando.me/"><img src="img/diza.png" alt="Visite o meu site." /></a>
		<blockquote class="vcardblock">
		  <p>Programador, investigador e Professor de Ciência da Computação na Faculdade de Ciências da UAN. É também co-organizador do <a href="http://gdgluanda.org">Google Developer Group Luanda</a>.</p>
		  <footer><i>Me.</i> Dizando Norton</footer>
		</blockquote>
	</div>
