   <ul>
    <li><h3>Localização</h3></li>
    <li>O curso será no ISUTIC localizado em Luanda.</li>
    <li>Próximo ao local existe um bom restaurante, com 2500AKz pode-se ter uma boa refeição e um pacote de sumo.</li>
    <li>Segue abaixo o local:</li><br/>
    <li>Google Maps <a href="https://www.google.com.br/maps/place/ISUTIC/@-8.8186031,13.2678362,17z/data=!4m2!3m1!1s0x1a51f17fed169ca9:0xb8161f7378911028">aqui</a>.</li>
    
    <li>
        <figure class="imglocal">
            <img src="/img/isutic.jpg">
            <figcaption>Fonte:<a href="https://www.facebook.com/pages/Isutic/565398386826980"> ISUTIC</a></figcaption>
        </figure>
    </li>
</ul>