<ul>
    <li><h3>Pré-Requisitos</h3></li>
    <li>Esse curso serve para todo programador, designer ou simpatizante de programação que desenvolve para a web.</li>
    <li>Esse curso não é para você se:</li>
    <ul>
        <li>Não tiver conhecimentos básicos de programação</li>
        <li>Não tiver nenhum tipo de contacto com html</li>
    </ul>
    <li>Porquê fazer esse curso:</li>
    <ul>
    <li>Com esse curso você desenvolve o seu projeto Web e disponibiliza para as diferentes plataformas como um aplicativo nativo</li>
    </ul>
</ul>